.btn-primary{
  border-color: #D9D9D9;
  background-color: #D9D9D9;
}

.btn-info{
  margin-left: 20px;
  margin-top: 5px;
}


ul{
  padding-left: 0px;
}

.btn-success {
  margin-bottom: 10px;
  color: #000;
  background-color: #D9D9D9;
}
